// COLORS
$clr-body-background: #222;
$clr-todo-background: #888;
$clr-lists-background: #717171;
$clr-text: #eee;
$red: #a40000;
$blue: #036ffc;
$yellow: #ebbf2d;

// BORDER
$main-radius: 0.5rem;

// FONTS
$font-roboto: 'Roboto', sans-serif;
$font-bold: 700;
$font-normal: 400;
