.tasks-done-list-container {
	background-color: $clr-lists-background;
	border-radius: $main-radius;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding: 2rem;

	.tasks-list-container__title {
		margin-bottom: 2.3rem;
		letter-spacing: -0.03rem;
	}
}
