.task {
	animation: 0.3s dropDown;
	background-color: $clr-text;
	border-radius: $main-radius;
	display: grid;
	grid-template-columns: auto 6.2rem;
	min-height: 6.5rem;
	list-style: none;
	margin-bottom: 2rem;
	padding: 0.6rem 2rem 0.5rem;

	&:last-child {
		margin-bottom: 0;
	}

	.task-texts {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&__name-task {
			color: $clr-body-background;
			font-size: 1.8rem;
			line-height: 2.4rem;
			margin: 0 0 1rem 0;
		}

		&__date-task {
			color: $clr-todo-background;
			font-size: 1.6rem;
			margin: 0;

			&-value {
				color: $clr-todo-background;
				font-size: 1.6rem;
				font-weight: $font-bold;
			}
		}
	}

	.task-icons {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&__modify-icon {
			cursor: pointer;
			flex-direction: column;
			height: 4rem;
			position: relative;
			width: 1rem;

			&--yellow-circle {
				background-color: $yellow;
				border-radius: 50%;
				height: 1rem;
				margin-bottom: 0.5rem;

				&::before,
				&::after {
					@include yellow-circle;
				}

				&::before {
					opacity: 0.8;
					top: 50%;
					transform: translateY(-50%);
				}

				&::after {
					bottom: 0;
					opacity: 0.6;
				}
			}
		}

		&__delete-icon {
			cursor: pointer;
			height: 5.5rem;
			padding: 0.7rem 0;
			position: relative;
			width: 4.5rem;

			&--red-cross {
				@include red-cross;
				transform: translateY(-50%) rotate(45deg);

				&::before {
					@include red-cross;
					content: '';
					transform: translateY(-50%) rotate(-90deg);
				}
			}
		}
	}
}

@keyframes dropDown {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
