.task-done {
	animation: 0.5s popUp;
	background-color: $clr-taskdone-background;
	border-radius: $main-radius;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style: none;
	margin-bottom: 2rem;
	padding: 0.5rem 2rem;
	position: relative;

	@include mq(992px) {
		min-height: 5.9rem;
	}

	@include mq(768px) {
		min-height: 5.6rem;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.red-line {
		position: absolute;
		z-index: 1;
	}

	&__name-task {
		color: $clr-body-background;
		font-size: 1.6rem;
		margin: 0 0 0.5rem 0;
		line-height: 2.1rem;
		text-align: center;

		@include mq(992px) {
			font-size: 1.8rem;
		}

		@include mq(768px) {
			font-size: 1.6rem;
		}
	}

	&__date-task {
		color: $clr-body-background;
		font-size: 1.5rem;
		margin: 0;
		text-align: center;

		&-value {
			color: $clr-body-background;
			font-size: 1.5rem;
			font-weight: $font-bold;
		}
	}

	br {
		@include mq(992px) {
			display: none;
		}
	}
}

@keyframes popUp {
	0% {
		opacity: 0;
		height: 0;
	}

	33% {
		opacity: 0;
		height: 2.5rem;
	}
	66% {
		opacity: 0.5;
		height: 5rem;
	}

	100% {
		opacity: 1;
		height: 7.6rem;
	}
}
