.tasks-list-container {
	background-color: $clr-lists-background;
	border-radius: $main-radius;
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	height: 46.1rem;
	padding: 2rem;

	&__title {
		font-size: 2.8rem;
		font-weight: $font-bold;
		margin: 0 0 2rem 0;
		text-align: center;
		text-transform: uppercase;

		&--yellow {
			color: $yellow;
			font-size: 2.8rem;
		}
	}
}
