.tasks-list-container {
	background-color: $clr-lists-background;
	border-radius: $main-radius;
	display: grid;
	grid-column: 1 / 2;
	grid-row-gap: 2rem;
	grid-template-rows: min-content min-content auto;
	height: 56rem;
	padding: 2rem;

	@include mq(992px) {
		display: flex;
		flex-direction: column;
		height: 60rem;
		margin-bottom: 2rem;
		width: 100%;
	}

	@include mq(768px) {
		height: 66rem;
	}
}
