.todo-container {
	background-color: $clr-todo-background;
	border-radius: $main-radius;
	display: grid;
	grid-column-gap: 1rem;
	grid-row-gap: 2rem;
	grid-template-columns: 59rem 39em;
	height: 70rem;
	margin: 0 auto;
	padding: 7rem 10rem;
	width: 119rem;
}
