.todo-container {
	background-color: $clr-todo-background;
	border-radius: $main-radius;
	display: grid;
	grid-gap: 1.6rem;
	grid-template-columns: 76.2rem 48.6rem;
	grid-template-rows: auto auto auto;
	margin: 0 auto;
	padding: 3rem 5rem 5rem;
	width: 136.4rem;
}
