body {
	background-color: $clr-body-background;
	max-height: 100vh;
	margin: 0;
	padding: 0 0 2rem 0;
}

.App {
	@include mq(992px) {
		padding-bottom: 5rem;
	}

	@include mq(576px) {
		padding: 0 1.5rem 5rem;
	}
}

.title {
	font-size: 5rem;
	font-weight: $font-bold;
	margin-bottom: 2rem;
	text-align: center;
	text-transform: uppercase;

	@include mq(1200px) {
		font-size: 4rem;
	}
}
